p.carrot{
	border-style: dashed; border-color: red; border-padding: 5px; border-margin: 30px;
}
body {
	font-family: helvetica, arial;
}
p#relationship{
	border-style: solid; border-color: #7145A6; border-padding: 10px; border-margin:30px;
}
div.bigborder{
	border-style: solid; border-color: #FD2FA4; border-top-width: 15px; border-left-width: 10px; border-right-width: 1px; border-bottom-width: 1px;
}
div#header{
	background-color: #6E405A; border-color: #6E405A; border-padding: 0px; color: white; text-align: center; border-spacing: 30px;
}
div#type{
	background-color: #F2C2DD; border-color: #F2C2DD; border-padding: 35px; float: left; height:400px; width:200px; line-height: 30px;
}
div#about{
	background-color: white; border-padding: 35px; float: left; width: 400px; height:400px; border-left-width:50px;
}
#pic{
	float: below; width: 300px; height:400px;
}
